# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env.*

# Node / Flutter
node_modules/
.dart_tool/
.build/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.sqlite3

# Secrets
settings.py
secrets.py