--
-- PostgreSQL database dump
--

\restrict 4R4rDkslxRvHp7wiMlPBXuCkNVIJd7hrKWVEmfF0vC8JMDrdjP9RhXf00p1kQre

-- Dumped from database version 18.2
-- Dumped by pg_dump version 18.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: candles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.candles (
    id integer NOT NULL,
    stock_id integer,
    timeframe character varying,
    open double precision,
    high double precision,
    low double precision,
    close double precision,
    volume double precision,
    candle_time timestamp without time zone
);


ALTER TABLE public.candles OWNER TO postgres;

--
-- Name: candles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.candles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.candles_id_seq OWNER TO postgres;

--
-- Name: candles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.candles_id_seq OWNED BY public.candles.id;


--
-- Name: indicators; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.indicators (
    id integer NOT NULL,
    stock_id integer,
    indicator_name character varying,
    value double precision,
    timeframe character varying,
    created_at timestamp without time zone
);


ALTER TABLE public.indicators OWNER TO postgres;

--
-- Name: indicators_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.indicators_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.indicators_id_seq OWNER TO postgres;

--
-- Name: indicators_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.indicators_id_seq OWNED BY public.indicators.id;


--
-- Name: stocks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stocks (
    id integer NOT NULL,
    symbol character varying,
    company_name character varying,
    exchange character varying
);


ALTER TABLE public.stocks OWNER TO postgres;

--
-- Name: stocks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.stocks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stocks_id_seq OWNER TO postgres;

--
-- Name: stocks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.stocks_id_seq OWNED BY public.stocks.id;


--
-- Name: candles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candles ALTER COLUMN id SET DEFAULT nextval('public.candles_id_seq'::regclass);


--
-- Name: indicators id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.indicators ALTER COLUMN id SET DEFAULT nextval('public.indicators_id_seq'::regclass);


--
-- Name: stocks id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks ALTER COLUMN id SET DEFAULT nextval('public.stocks_id_seq'::regclass);


--
-- Data for Name: candles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: indicators; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.indicators (id, stock_id, indicator_name, value, timeframe, created_at) FROM stdin;
\.


--
-- Data for Name: stocks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stocks (id, symbol, company_name, exchange) FROM stdin;
17	AAPL	AAPL	Yahoo
18	ADANIPORTS.NS	ADANIPORTS.NS	Yahoo
19	AMZN	AMZN	Yahoo
20	RELIANCE.NS	RELIANCE.NS	Yahoo
21	GOOG	GOOG	Yahoo
22	GOOGLE	GOOGLE	Yahoo
23	SBIN	SBIN	Yahoo
24	SBIN.NS	SBIN.NS	Yahoo
\.


--
-- Name: candles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.candles_id_seq', 4108, true);


--
-- Name: indicators_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.indicators_id_seq', 1362, true);


--
-- Name: stocks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stocks_id_seq', 24, true);


--
-- Name: candles candles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candles
    ADD CONSTRAINT candles_pkey PRIMARY KEY (id);


--
-- Name: indicators indicators_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.indicators
    ADD CONSTRAINT indicators_pkey PRIMARY KEY (id);


--
-- Name: stocks stocks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks
    ADD CONSTRAINT stocks_pkey PRIMARY KEY (id);


--
-- Name: idx_candles_stock_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_candles_stock_time ON public.candles USING btree (stock_id, candle_time);


--
-- Name: idx_indicators_stock_name_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_indicators_stock_name_time ON public.indicators USING btree (stock_id, indicator_name, created_at);


--
-- Name: ix_candles_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_candles_id ON public.candles USING btree (id);


--
-- Name: ix_indicators_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_indicators_id ON public.indicators USING btree (id);


--
-- Name: ix_stocks_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_stocks_id ON public.stocks USING btree (id);


--
-- Name: ix_stocks_symbol; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_stocks_symbol ON public.stocks USING btree (symbol);


--
-- Name: candles candles_stock_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candles
    ADD CONSTRAINT candles_stock_id_fkey FOREIGN KEY (stock_id) REFERENCES public.stocks(id);


--
-- Name: indicators indicators_stock_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.indicators
    ADD CONSTRAINT indicators_stock_id_fkey FOREIGN KEY (stock_id) REFERENCES public.stocks(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 4R4rDkslxRvHp7wiMlPBXuCkNVIJd7hrKWVEmfF0vC8JMDrdjP9RhXf00p1kQre

